.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: .75rem 1.25rem
  border-bottom: 1px solid rgba(#383838, .3)
  &__name
    font-style: normal
    font-weight: 600
    font-size: 2rem
    line-height: 3rem
    color: #5671A6
  &__box
    display: flex
    align-items: center
  &__links
    list-style: none
    display: flex
    margin-right: 4rem
    text-transform: uppercase
  &__links-item
    margin: 0 1rem
  &__link
    text-decoration: none
    color: #5671A6
    padding: .25rem .25rem
    font-family: 'Poppins'
    font-weight: 600
    font-size: 1rem
    line-height: 1.5rem
    &.active-link
      background-color: rgba(255, 255, 255, .5)
      border-radius: .25rem
  &__switch
    display: flex
    align-items: center
    gap: 1rem
